1. Stage:
----------------------

Home Site
	- Zeigen, dass etwas gemacht wird (News Einbindung Facebook)
	- Schöne Fotos und Design / Logo in Vordergrund
	- Sponsoren
	- Countdown

Organisation
	- Alle im OK

FAQ? -> Extraseite für weitere Infos
 	- Was bedeutet Mosaik?
	- Was ist das PFF?
	- Wer organisiert das
	- Wie kann ich Helfen


Sponsoring einbinden
- In Footer die wichtigen und in der Extraseite alle.
- Extraseite kann man sich als Sponsor/Gönner Melden

Helfer:
	- Kontaktformular
	- Schwarzes Brett für Aufwendige Jobs (ohne Probleme auf Facebook postbar)
 	  Flurina fragen ob, dass nötig ist

AdminTool:
	- Benutzer dürfen genau auf das Zugreifen was sie müssen 

Sonstige Notizen:
	- Schauen was funktioniert
	- Wichtig, dass es nicht überladen ist
	- Französische Einbindung 

Fragen: 
	- Ob wir unterstützer zeigen wollen (PBS, Gemeinde Stäfa, usw.) evt. 
	  bei Organistaion noch ein binden
	- Was ist wichter Facebook/Instagram oder so

2. Stage:
	
Bands:
	- Eigene Page	
