@mixin font-face($family, $filename, $folder, $style, $weight){
    @font-face{
        font-family: $family;
        src: url('#{$folder}/#{$filename}.woff2') format("woff2");
        src: url('#{$folder}/#{$filename}.woff') format("woff");
        font-style: $style;
        font-weight: $weight
    }

}